{% extends "main.html" %}

{% block container %}
<div class="md-content landing" data-md-component="content">
    <div class="md-content__inner">

        <header class="md-typeset">

            <div class="landing-hero">
                <h1 class="landing-header">
                    {% if config.extra.avatar %}<img class="landing-avatar" src="{{ config.extra.avatar | url }}">{% endif %}
                    {{ config.site_name }}
                </h1>
    
                {% if config.extra.subtitle %}
                <p class="landing-subtitle" {% if config.extra.bio %}style="font-weight:bold;"{% endif %}>{{ config.extra.subtitle }}</p>
                {% endif %}
    
                {% if config.extra.bio %}
                <p class="landing-bio">{{ config.extra.bio }}</p>
                {% endif %}

                {% if config.extra.socials %}
                <div class="landing-socials">
                  {% for social in config.extra.socials %}
                    <a href="{{ social.url }}" title="{{ social.name }}" target="_blank" rel="noopener">
                      {% include ".icons/" ~ social.icon ~ ".svg" %}
                    </a>
                  {% endfor %}
                </div>
                {% endif %}

            </div>
            

        </header>

        {% for post in posts %}
        {% include "partials/posts-index.html" %}
        {% endfor %}

        {% if pagination %}
        {% block pagination %}
        {% include "partials/pagination.html" %}
        {% endblock %}
        {% endif %}
    </div>
</div>
{% endblock %}